

/* standardize box-sizin for easier DOM styling */
*,
::after,
::before {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/* position absolute fixes body, which is the parent of all the divs, to one page. Any excess content beyond this page will have overflow applied */
body {
    position: absolute;
    font-family: sans-serif;
    /* Center the image */
    background-position: center;
    /* Do not repeat the image */
    background-repeat: no-repeat;
    /* Resize the background image to cover the entire container */
    background-size: cover;
    z-index: 0;
}

/* set the body and HTML to be the same as the window/screen */
body, html {
    margin:0;
    height:100%;
    width:100%
}

.addPadding {
    padding: 5px
}

.addMargin {
    margin: 5px
}

/* white background to make text visible */
.frontlayer {
    z-index: 1;
    background: white;
    border: 1px solid black;
}

#statsDiv,
#pokemon {
    display: flex;
    flex-flow: column nowrap;
    margin: 10px auto;
    max-width: 600px;
    width: 600px
}

#showMovesBtn {
    width: 600px;
    max-width: 600px;
}

/* add functionality for smaller screen */
@media only screen and (max-width: 620px) {
    #showMovesBtn {
        width: 100%;
        margin: 0px auto;
        min-width: 300px;
    }

    #statsDiv,
    #pokemon {
        min-width: 300px;
        width: auto
    }
}

#pokemon {
    align-items: center;
    justify-content: center;
    text-align: center;
}

#allMoves {
    width: 100%;
    overflow: scroll;
}

#statsDiv {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    max-height: 266px;
}


/* NOTE: Flexbox does not work well with overflow content. When content overflows the container, 
overflow CSS will not work as the top portion and right portion of the content will be inaccessible, even through scrolling.
There is no solution as of yet, but a quick workaround is to set the margins of the flex items instead of justifying and aligning content */
ul {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    /* justify-content: center; */
}

ul li {
    margin: auto;
}



#pokeName,
#pokemon form {
    width: 350px;
    height: auto;
    padding: 10px;
}


#pokemonImage-default,
#pokemonImage-shiny {
    width: 400px;
    height: 400px;
    filter: drop-shadow(0 0 30px white);
}

#pokemonImage-default {
    position: relative;
    
}

#pokemonImage-shiny {
    position: absolute;
    top: 10px;
    visibility: hidden 
}

#GuessContainer {
    position: fixed;
    top: 20px;
    right: 20px;
    text-align: center;
    padding-top: 10px;
    width: 150px;
    height: 100px;
    font-size: 20px;
    border: 5px solid salmon;
    border-radius: 10px;
    background: radial-gradient(rgb(255, 211, 218), rgb(255, 163, 153));
    display: none;
}

#resetbtn {
    margin-top: 5px;
}

/* switch styles between buttons */
#mode {
    width: 200px;
    height: 50px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 20px;
}

/* alter between button styles */
.pokedexstyle {
    border: 2px inset red;
    background: radial-gradient(rgb(255, 151, 151), rgb(255, 53, 53));
    filter: brightness(150%);
    color: black;
}

.gamestyle {
    border: 2px inset rgb(87, 21, 194);
    background: radial-gradient(rgb(140, 172, 223), rgb(124, 125, 223));
    filter: brightness(150%);
    color: rgb(29, 27, 27);
}

/* pokedexstyle for divs */
.dexstyl1 {
    border-radius: 5px;
    background-color: rgba(122, 119, 119, 75%);
}

.dexstyl2 {
    border-radius: 5px;
    background-color: rgba(242, 3, 3, 75%);
}

/* game style for divs */
.gamestyl1 {
    border-radius: 5px;
    background: radial-gradient(skyblue, rgb(78, 61, 231));
}

.gamestyl2 {
    border-radius: 5px;
    background: radial-gradient(lavender, rgb(228, 1, 228));
}

/* formatting the form inputs */
input[type=text] {
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

/* focus represents an element that has beens selected through the cursor */
input[type=text]:focus {
    border-color: #333;
}

input[type=submit] {
    padding: 5px 15px;
    background: rgb(174, 237, 3);
    border: 0 none;
    cursor: pointer;
    border-radius: 5px;
}

input[type=submit]:hover {
    background: red;
}

/* generic classes to apply styling  */
.fontSmall {
    font-size: 15px;
}

.fontWrong {
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.rounded {
    border-radius: 20px;
}

