/* standardize box-sizin for easier DOM styling */
*, ::after, ::before {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/* pokemon API is case sensitive, restrict to lowercase */


.addPadding {
    padding:5px
}

.addMargin {
    margin:5px
}


#statsDiv,
#pokemon {
    display: flex;
    flex-flow: column nowrap;
    margin: 20px auto;
    max-width: 600px
}

/* ensures a white background to make text visible */
.frontlayer {
    z-index: 1;
    background: white;
    border: 1px solid black;
}

#pokemon {
    align-items: center;
    justify-content: center;
    text-align: center;
}

#allMoves {
    width: 100%
}

ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 0px auto;
}

#pokeName, #pokemon form {
    width: 350px;
    height: auto;
    padding:10px
}

.rounded {
    border-radius: 20px;
}

#pokemonImage-default, #pokemonImage-shiny {
    width: 400px;
    height: 400px;
    filter: drop-shadow(0 0 20px white);
}

#pokemonImage-default {
    position: relative;
}

#pokemonImage-shiny {
    position:absolute;
    top: 20px
}